.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #342a28;
    /* background-color: #282c34; */
    display: flex;
    min-height: 8vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  /*  */

  /* .Body {
    background-color: #b9d1ff;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  } */

  .Body {
    background-color: #b9d1ff;
    display: flex;
    min-height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .Header-button {
      height: 30px;
      width: 95%;
      background-color: #bdbdbd;
      border: none;
      border-radius: 10px;
      color: white;
      font-size: 15px;
      outline: none;
  }

  .Test{
    flex: 50%;
  }
  
  .Main-logo {
    height: 40px;
    pointer-events: none;
  }

  .List-body{
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 80px;
  }
  
  .List-text{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
  }

  .List-images-container{
    background-color: #f1f1f1;
    /* background-color: #282c34; */
    display: inline-block;
    flex-direction: row;
    height:100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 100px;
    text-align: center;
  }

  .List-images{
    height: 100px;
    pointer-events: none;
    background-color: #f5f5f5;
    border-radius: 100px;
  }

  .List-name{
    color: rgb(39, 39, 39);
    font-size: 15px;
    font-weight: 600;
  }

  .Detail-images{
    height: 250px;
    pointer-events: none;
  }

  .Detail-images-sprite{
    height: 150px;
    pointer-events: none;
  }

  .Detail-name{
    color: rgb(39, 39, 39);
    font-size: 25px;
    font-weight: 600;
  }
  